{{>../_partials/site-header}}

{{>../_partials/flash-message}}

<div class="eight columns offset-by-two">
<h1><i class="far fa-file"></i> Create Project</h1>
<form id="create-project" method="post" action="/projects/create">

    {{>_partials/project-form}}

</form>
</div>
{{>../_partials/jquery-validate}}
<script type="text/javascript">
    $(document).ready(function() {

        $("#create-project").validate({
            rules: {
                name: {
                    required: true
                },
                description: {
                    required:true
                }
            }
        });

    });

</script>
{{>../_partials/site-footer}}