.flash * {margin:0;padding:0;}
.flash {
    padding:1em;
    border-radius:10px;
    display: block;
    width:50%;
    max-width:500px;
    min-width:300px;
    margin:1em auto;
    position: relative;
    box-shadow:0 0 10px #CCC;
    /*z-index:5;*/
}
.flash .close {
    font-size:2em;
    position: absolute;
    right:20px;
    top:5px;
    cursor: pointer;
}
.flash .title {
    font-size:1.5em;
    padding:0 0 0.5em 0;
}
.flash.blank {display: none;}
.flash.error {background: var(--flash-error);}
.flash.info {background: var(--flash-info);}
.flash.success {background: var(--flash-success);}