.login-form {
    width:100%;
    position: relative;
}
.login-button, .signup-button {
    display:none!important;
}
.login-button + label,
.signup-button + label {
    display: inline-block;
    color: #FFF;
    
    position:absolute;
    width:100px;
    height:50px;
    line-height: 50px;
    text-align: center;
    top:calc(50% - 25px);
    z-index: 0;
    border-radius: 5px;
    cursor: pointer;
} 
.login-button + label {
    left:calc(25% - 50px);
    background: var(--green);
}

.signup-button + label {
    left: calc(75% - 50px);
    background: var(--blue);
}
.form-box {
    position: relative;
    background: #FFF;
    width: 50%;
    padding:3em 2em 0 2em;
    box-shadow: 0 0 10px #CCC;
    border-radius: 5px;
    transition:all 0.4s;
    z-index: 1;
}
.form-box input {
    width:100%;
}
.form-box .signup {
    transition:all 0.25s;
}
.signup-button:checked ~ .form-box .signup {
    opacity: 1;
}

.login-button:checked ~ .form-box .signup {
    opacity: 0;
}
.login-button:checked ~ .form-box .login {
    transition:all 0.5s;
    position: relative;
    top:-100px;
}
.signup-button:checked ~ .form-box .login {
    transition:all 0.5s;
    position: relative;
    top:0;
}
.signup-button:checked ~ .form-box {
    
    margin-left:50%;
    
}