/* .panel * {margin:0;padding:0;} */
.panel {
    
    border-radius:10px;
    overflow: hidden;
    margin:0 0 1em 0;
    box-shadow: 0 0 10px #CCC;
}

.panel-heading {
    padding:0.5em 2em;
    background: #CCC;
    font-size:1.3em;
    font-weight:bold;
}
.panel-content {
    padding:1em 2em;
    text-align: center;
    font-size:1.3em;
}
.panel-content .button-row {padding:0;margin:0;}

/* ERROR */
.panel.warning {
    border-color: var(--red);
}
.panel.warning .panel-heading {background: var(--red);color:#FFF;text-shadow: 0 0 5px #333;}