:root {
    --gray:#707070;
    --blue:#9BD4FE;
    --bg:#F5F7FA;
    --green:#71B87B;
    --red:#E97786;
    --highlight:#FFFFD8;

    --flash-error:#EEDFDF;
    --flash-success:#E3EDD9;
    --flash-info:#DDEDF6;
  }