{{>_partials/site-header}}
<h1>Private page</h1>
<p>This is a private page, you have to be signed in to access it.</p>
<p>Hi there {{username}}</p>

<p><a href="/index.html">Home</a></p>

<!--INCLUDE FLASH-->
{{>_partials/flash-message}}

{{>_partials/site-footer}}