
<label for="name">Milestone Name</label>
<input class="u-full-width" type="text" id="name" placeholder="Enter Milestone name" name="name" value="{{milestone.name}}" required>

<label for="description">Milestone Description</label>
<textarea class="u-full-width" placeholder="Please enter your project description" id="description" name="description" required>{{milestone.description}}</textarea>

<label for="dueDate">Milestone Due Date</label>
<input type="datetime-local" class="u-full-width" placeholder="Please enter your project description" id="dueDate" name="dueDate" value="{{milestone.dueDate}}" required>

<input class="button-primary success" type="submit" value="Create Milestone">