{{>../_partials/site-header}}

<div class="milestone">

    <div class="header">

        <div class="due-date">
            <ul>
                <li>25</li>
                <li>OCT</li>
                <li>2018</li>
            </ul>
        </div>

        <div class="details">
            <h3>Milestone Name</h3>
            <p><i class="far fa-clock"></i> Created 3 hours ago</p>

        </div>


    </div>

    <p>In publishing and graphic design, lorem ipsum is a placeholder text commonly used to demonstrate the visual form of a document without relying on meaningful content. Replacing the actual content with placeholder text allows designers to design the form of the content before the content itself has been produced. <a href="#">Read more...</a></p>

</div>

{{>../_partials/site-footer}}