{{>../_partials/site-header}}
{{>../_partials/flash-message}}

<link rel="stylesheet" href="/css/dateTimePicker/bootstrap/zebra_datepicker.min.css">

<div class="eight columns offset-by-two">

    <h1><i class="far fa-calendar-plus"></i> Create Milestone</h1>

    <form id="create-milestone" method="post" action="/milestones/create">

        {{>_partials/milestone-form}}

    </form>



</div>

<script src="/js/zebra_datepicker.min.js"></script>
{{>../_partials/jquery-validate}}
<script type="text/javascript">
    $(document).ready(function() {

        // VALIDATE THE CREATE FORM
        $("#create-milestone").validate({
            rules: {
                name: {
                    required: true
                },
                description: {
                    required:true
                }
            }
        });

    });

</script>
{{>../_partials/site-footer}}