{{>../_partials/site-header}}

<div class="panel warning">
    <div class="panel-heading"><i class="fas fa-exclamation-triangle"></i> Warning!</div>
    <div class="panel-content">
        <p>Are you sure you wish to permanently delete the milestone "{{milestone.name}}"?</p>

        <form action = "/milestones/delete/{{milestone.id}}" method = "POST">
            <p class="button-row">
                <a href="/milestones" class="button">Cancel</a>
                <button class="button danger" type="submit"><i class="fas fa-trash-alt"></i> Confirm</button>
            </p>
        </form>


    </div>



</div>

{{>../_partials/site-footer}}