{{>../_partials/site-header}}

<link rel="stylesheet" href="/css/dateTimePicker/bootstrap/zebra_datepicker.min.css">
<div class="six columns offset-by-three">
    <h1><i class="far fa-edit"></i> Edit Milestone</h1>
    <form id="edit-milestone" method="post">

        <input type="hidden" name="id-check" value="{{milestone.id}}">
        {{>_partials/milestone-form}}

    </form>
</div>

<script src="/js/zebra_datepicker.min.js"></script>
{{>../_partials/jquery-validate}}
<script type="text/javascript">
    $(document).ready(function() {

        $("#create-project").validate({
            rules: {
                name: {
                    required: true
                },
                description: {
                    required:true
                }
            }
        });


    });

</script>
{{>../_partials/site-footer}}