{{>../_partials/site-header}}
<div class="six columns offset-by-three">
    <h1>Create Milestone</h1>
    <form id="create-milestone" method="post" action="/milestones/create">

        <label for="name">Milestone Name</label>
        <input class="u-full-width" type="text" id="name" placeholder="Enter Milestone name" name="name" required>

        <label for="description">Milestone Description</label>
        <textarea class="u-full-width" placeholder="Please enter your project description" id="description" name="description" required></textarea>

        <input class="button-primary success" type="submit" value="Create Milestone">

    </form>
</div>
{{>../_partials/jquery-validate}}
<script type="text/javascript">
    $(document).ready(function() {

        $("#create-project").validate({
            rules: {
                name: {
                    required: true
                },
                description: {
                    required:true
                }
            }
        });

    });

</script>
{{>../_partials/site-footer}}