{{>../_partials/site-header}}
<div class="eight columns offset-by-two">
<h1><i class="fas fa-link"></i> Create Share Link</h1>
<form id="create-link" method="post" action="/links/create">

    {{>../_partials/flash-message}}

    <label for="name"><i class="far fa-user"></i> Recipient</label>
    <small>Who would you like to share this link with?</small>
    <input class="u-full-width" type="text" id="email" placeholder="Please enter the email of the person to share with" name="email" value="{{link.email}}" required>



    <label for="project">Project to Share</label>
    <select name="project" class="u-full-width">
        <option value="">Select a project to share</option>
        {{#projects}}
        <option value="{{id}}">{{name}}</option>
        {{/projects}}
    </select>



    <a href="/links" class="button"><i class="fas fa-arrow-left"></i> Return to Links</a>
    <button class="button-primary" type="submit"><i class="far fa-share-square"></i> Create Share Link</button>

</form>
</div>
{{>../_partials/jquery-validate}}
<script type="text/javascript">
    $(document).ready(function() {

        $("#create-link").validate({
            rules: {
                email: {
                    required: true,
                    email: true
                },
                project: {
                    required:true
                }
            }
        });

    });

</script>
{{>../_partials/site-footer}}