{{#message}}
    <div class="flash {{type}}">
        <span class="close">&times;</span>
        <p class="heading"><strong>{{heading}}</strong></p>
        <p class="message">{{message}}</p>
    </div>
{{/message}}