</div>

<footer>



    <div class="container">



        <ul>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="/projects">Project</a>
            </li>
            <li>
                <a href="/links">Manage Links</a>
            </li>
        </ul>

        <img src="/img/MilestoneLogo.svg" alt="Milestone Logo">
    </div>

</footer>

</div>

</body>

</html>