<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Milestone Application</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function(){

            $('#new-project').click(function(e){
                e.preventDefault();
                console.log('This worked');
                $('.modal').fadeIn(100);
            });

            // CLOSE OPEN FLASH MESSAGE
            $('.flash').find('.close').click(function(e){
                $(this).parent().slideUp('fast');
            });

            // FADE FLASH MESSAGE AFTER 5 SECS
            // $(".flash").delay(5000).slideUp("slow");

            $('.modal .close').click(function(e){
                $('.modal').fadeOut(100);
            });

        });
    </script>
</head>

<body>

<div class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <!-- The above form looks like this -->
        <h2>Create New Project</h2>
        <p>Please enter the details below</p>
        <hr>


    </div>
</div>

<div class="application">

    <nav>

        <div class="container">
            <img src="/img/MilestoneLogo.svg" alt="Milestone Logo">
            <ul>
            {{#hidenav}}
                <li>
                    <a href="/login"><i class="fas fa-user"></i> Member Login</a>
                </li>
            {{/hidenav}}
            {{^hidenav}}
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="/links">Manage Links</a>
                </li>
                <li>
                    <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            {{/hidenav}}
            </ul>
        </div>
    </nav>

    <div class="main-body">
        <div class="container content-box">