<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Milestone Application</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(function(){

            $('#new-project').click(function(e){
                e.preventDefault();
                console.log('This worked');
                $('.modal').fadeIn(100);
            })

            $('.modal .close').click(function(e){
                $('.modal').fadeOut(100);
            });

        });
    </script>
</head>

<body>

<div class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>

        <!-- The above form looks like this -->
        <h2>Create New Project</h2>
        <p>Please enter the details below</p>
        <hr>
        <form>
            <div class="row">
                <div class="six columns">
                    <label for="exampleEmailInput">Your email</label>
                    <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
                </div>
                <div class="six columns">
                    <label for="exampleRecipientInput">Reason for contacting</label>
                    <select class="u-full-width" id="exampleRecipientInput">
                        <option value="Option 1">Questions</option>
                        <option value="Option 2">Admiration</option>
                        <option value="Option 3">Can I get your number?</option>
                    </select>
                </div>
            </div>
            <label for="exampleMessage">Message</label>
            <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
            <label class="example-send-yourself-copy">
                <input type="checkbox">
                <span class="label-body">Send a copy to yourself</span>
            </label>
            <input class="button-primary success" type="submit" value="Create">
        </form>

    </div>
</div>

<div class="application">

    <nav>

        <div class="container">
            <img src="img/MilestoneLogo.svg" alt="Milestone Logo">
            <ul>
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="#">Manage Links</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main-body">
        <div class="container content-box">